
:root {
    --epaperGap : 2rem;
    --lawiGreen: #298851;
}
.row.epaper .epaperCard {
    background: var(--lawiGreen);
    padding: 2.5rem 1rem;
    color: white;
    height: 100%;
}

.epaperCard h3 {
    text-align: center;
    text-transform: uppercase;
}

.row.epaper, .row.epaper .col-4 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}

.row.epaper {
    gap: var( --epaperGap ) !important;
    margin-bottom: var( --epaperGap ) ;
}

.row.epaper > div {
    max-width: calc( 33.33% - var( --epaperGap )  ) !important;
}

.row.epaper button.btn.btn-primary.subscribe-now {
    background-color: white;
    color: green;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    display: block;
    text-transform:uppercase;
    border-color: var(--lawiGreen);
}

button.btn.btn-secondary.already-subscribed {
    background-color: white !important;
    color: var(--lawiGreen) !important;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    display: block;
    text-transform:uppercase;
    border-color: var(--lawiGreen);
    opacity: 0.5;
    cursor: default;
    visibility: visible !important;
}

.row.epaper hr {
    border-top-color: white;
    margin: 2.5rem 0;
}

.row.epaper select {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
}

.row.epaper .price {
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.row.epaper .price .big {
    font-size: 1.5em;
    display: inline-block;
}

.modal-dialog {
    color: #555;
}

.modal-dialog p.login-username,
.modal-dialog p.login-password {
    display: flex;
    flex-direction: column;
}

.modal-dialog div.tab-content {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border: solid 1px #dedede;
    border-top: 0;
}

.modal-dialog li.nav-item a {
    text-decoration:  none;
}